@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="get" action="~/Name.cshtml">
            <input name="name" />
            <button>SEND</button>
        </form>

        <form method="post" action="~/Name.cshtml">
            <input name="name" />
            <button>SEND</button>
        </form>

    </div>
</body>
</html>
